<h2>Your Loans</h2>

<div class="table-container">
  <table mat-table [dataSource]="loanList" class="mat-elevation-z8 loan-table">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">Name </span>
        {{element.name}} </td>
    </ng-container>

    <!-- payoff_amt Column -->
    <ng-container matColumnDef="payoff_amt">
      <th mat-header-cell *matHeaderCellDef>Payoff Amount</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">Payoff Amount </span> {{element.payoff_amt}} </td>
    </ng-container>

    <!-- interest_rate Column -->
    <ng-container matColumnDef="interest_rate">
      <th mat-header-cell *matHeaderCellDef>Interest Rate</th>
      <td mat-cell *matCellDef="let element"><span class="mobile-label">Interest Rate </span> {{element.interest_rate}}
      </td>
    </ng-container>

    <!-- min_monthly_payment Column -->
    <ng-container matColumnDef="min_monthly_payment">
      <th mat-header-cell *matHeaderCellDef>Min. Monthly Payment</th>
      <td mat-cell *matCellDef="let element"><span class="mobile-label">Min. Monthly Payment </span>
        {{element.min_monthly_payment}} </td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element"><span class="mobile-label">Type </span> {{element.type}} </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element"><span class="mobile-label">Action</span>
        <button mat-raised-button color="primary" type="button" (click)="onEdit(element)">Edit</button>
        <button mat-raised-button color="accent" type="button" (click)="onDelete(element.$key)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
